@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.main-header {
  font-family: "Montserrat", sans-serif;
  border-bottom: 1px solid #dee2e6;
  z-index: 1034;
}

.fa-question-circle:before {
  content: "\f059";
  font-size: 160%;
}

.fa-question-circle:hover {
  color: #f26f26;
}

.fa-sign-out-alt:before {
  font-size: 160%;
}

.fa-sign-out-alt:hover {
  color: #f26f26;
}
