button {
  border-radius: 0.3rem;
  background-color: #f26f26;
  margin: 0.7rem 0;
  color: #fff;
  font-size: medium;
}

button:hover {
  border-radius: 0.3rem;
  background-color: #de580d;
  margin: 0.7rem 0;
  color: #fff;
  font-size: medium;
  transition: color 0.15s ease-in, background-color 0.15s ease-in,
    border-color 0.15s ease-in, box-shadow 0.15s ease-in;
}

.card-header {
  background-color: #34383a;
}

.card-title {
  font-weight: bold;
  color: white;
}

.prep-time {
  margin-bottom: 2rem;
}

svg {
  width: 100%;
}

.svg {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.empty-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
