<!--  Content Wrapper. Contains page content -->
<div class="wrapper">
    <div class="content-wrapper" style="min-height: 2168.88px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Feedback</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-12">
                        <!-- general form elements -->
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Feedback Details</h3>
                            </div>
                            <div class="card-body">
                                <!-- Minimal style -->
                                <div class="feedback">
                                    <h3 class="text-center">We value your feedback. </h3>
                                    <p class="text-center">Please complete the following form and help us improve our
                                        customer experience.
                                    </p>
                                </div>

                                <div class="row">
                                    <div class="col-sm-3">
                                        <p>How satisfied are you with our Hygiene?</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <!-- radio -->
                                        <div class="form-group clearfix">
                                            <div class="icheck-primary d-inline">
                                                <input type="radio" id="hygiene1" name="r1" checked="">
                                                <label for="hygiene1">Very Satisfied&nbsp;&nbsp;
                                                </label>
                                            </div>
                                            <div class="icheck-primary d-inline">
                                                <input type="radio" id="hygiene2" name="r1">
                                                <label for="hygiene2">Satisfied&nbsp;&nbsp;
                                                </label>
                                            </div>
                                            <div class="icheck-primary d-inline">
                                                <input type="radio" id="hygiene3" name="r1">
                                                <label for="hygiene3">
                                                    Neutral&nbsp;&nbsp;
                                                </label>
                                            </div>
                                            <div class="icheck-primary d-inline">
                                                <input type="radio" id="hygiene4" name="r1">
                                                <label for="hygiene4">
                                                    Unsatisfied&nbsp;&nbsp;
                                                </label>
                                            </div>
                                            <div class="icheck-primary d-inline">
                                                <input type="radio" id="hygiene5" name="r1">
                                                <label for="hygiene5">
                                                    Very Unsatisfied&nbsp;&nbsp;
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p>How satisfied are you with our Ambience?</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <!-- radio -->
                                        <div class="form-group clearfix">
                                            <div class="icheck-primary d-inline">
                                                <input type="radio" id="ambience1" name="r2" checked="">
                                                <label for="ambience1">Very Satisfied&nbsp;&nbsp;
                                                </label>
                                            </div>
                                            <div class="icheck-primary d-inline">
                                                <input type="radio" id="ambience2" name="r2">
                                                <label for="ambience2">Satisfied&nbsp;&nbsp;
                                                </label>
                                            </div>
                                            <div class="icheck-primary d-inline">
                                                <input type="radio" id="ambience3" name="r2">
                                                <label for="ambience3">
                                                    Neutral&nbsp;&nbsp;
                                                </label>
                                            </div>
                                            <div class="icheck-primary d-inline">
                                                <input type="radio" id="ambience4" name="r2">
                                                <label for="ambience4">
                                                    Unsatisfied&nbsp;&nbsp;
                                                </label>
                                            </div>
                                            <div class="icheck-primary d-inline">
                                                <input type="radio" id="ambience5" name="r2">
                                                <label for="ambience5">
                                                    Very Unsatisfied&nbsp;&nbsp;
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p>How satisfied are you with our Service?
                                        </p>
                                    </div>
                                    <div class="col-sm-9">
                                        <!-- radio -->
                                        <div class="form-group clearfix">
                                            <div class="icheck-primary d-inline">
                                                <input type="radio" id="service1" name="r3" checked="">
                                                <label for="service1">Very Satisfied&nbsp;&nbsp;
                                                </label>
                                            </div>
                                            <div class="icheck-primary d-inline">
                                                <input type="radio" id="service2" name="r3">
                                                <label for="service2">Satisfied&nbsp;&nbsp;
                                                </label>
                                            </div>
                                            <div class="icheck-primary d-inline">
                                                <input type="radio" id="service3" name="r3">
                                                <label for="service3">
                                                    Neutral&nbsp;&nbsp;
                                                </label>
                                            </div>
                                            <div class="icheck-primary d-inline">
                                                <input type="radio" id="service4" name="r3">
                                                <label for="service4">
                                                    Unsatisfied&nbsp;&nbsp;
                                                </label>
                                            </div>
                                            <div class="icheck-primary d-inline">
                                                <input type="radio" id="service5" name="r3">
                                                <label for="service5">
                                                    Very Unsatisfied&nbsp;&nbsp;
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="form-group">
                                            <label>Please give your valuable feedback</label>
                                            <textarea class="form-control" rows="3"
                                                placeholder="We value your feedback..."></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="form-group">
                                            <h5>Overall Feedback</h5>
                                            <span class="rate">
                                                <input type="radio" id="star5" name="rate" value="5" />
                                                <label for="star5" title="text">5 stars</label>
                                                <input type="radio" id="star4" name="rate" value="4" />
                                                <label for="star4" title="text">4 stars</label>
                                                <input type="radio" id="star3" name="rate" value="3" />
                                                <label for="star3" title="text">3 stars</label>
                                                <input type="radio" id="star2" name="rate" value="2" />
                                                <label for="star2" title="text">2 stars</label>
                                                <input type="radio" id="star1" name="rate" value="1" />
                                                <label for="star1" title="text">1 star</label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button class="btn" (click)='addFeddback()'>Submit Feedback</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>