<div class="wrapper">


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height: 2077.69px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <h1>Manage Food Categories</h1>
                    </div>
                </div>
                <button type="button" class="btn" routerLink="/revfoods/add-food-category"><i
                        class="nav-icon fas fa-plus-square"></i>&nbsp;&nbsp;&nbsp;Add
                    Food Category</button>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="card-header">
                    <h3 class="card-title">All Food Category Details</h3>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table class="table table-bordered table-hover" data-widget="expandable-table"
                                    aria-expanded="true">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Avatar</th>
                                            <th>Description</th>
                                            <th colspan="2" class="text-center">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let foodCategory of foodCategories">
                                        <tr>
                                            <td>{{foodCategory.foodCategoryId}}</td>
                                            <td>{{foodCategory.foodCategoryName}}</td>
                                            <td><img width="100px" [src]="foodCategory.foodCategoryAvatar"></td>
                                            <td>{{foodCategory.foodCategoryDescription}}</td>
                                            <td class="text-center">
                                                <button type="button" class="btn"
                                                    (click)="update(foodCategory.foodCategoryId)"><i
                                                        class="fas fa-user-edit"></i>&nbsp;&nbsp;Update</button>
                                                &nbsp;&nbsp;
                                                &nbsp; <button type="button" class="btn "
                                                    (click)="delete(foodCategory.foodCategoryId)"><i
                                                        class="fas fa-trash-alt"></i>&nbsp;&nbsp;Delete</button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                            ​
                        </div>
                        <!-- /.card -->


                    </div>
                </div>
            </div>
        </section>
    </div>
</div>