<div class="register-wrapper">
    <div class="register-page">
        <div class="register-box">
            <div class="card">
                <div class="card-body register-card-body">

                    <div class="register-logo">
                        <p class="text-center">
                            <img
                                src="https://user-images.githubusercontent.com/42808213/136710221-dad48869-0799-4e7f-9af6-8d9ffc37ad95.jpg">
                        </p>
                        <h4>Create an account </h4>
                    </div>

                    <form [formGroup]="registerForm" autocomplete="off">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Full Name" formControlName="name"
                                name="name">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="email" class="form-control" placeholder="Email" formControlName="email"
                                name="email">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Phone Number" formControlName="phone"
                                name="phone">
                            <div class="input-group-append">
                                <div class="input-group-text">

                                    <i class="fas fa-phone-alt"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <div class="form-group clearfix">
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="hygiene2" name="r1">
                                        <label for="hygiene2">I agree to the <a href="#" style="color:#f15d1f">terms</a>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-12">
                            <button type="submit" [disabled]="!registerForm.valid" (click)="register()"
                                class="btn btn-block">Register Now</button>
                        </div>
                        <!-- /.col -->
                    </form>
                </div>
                <!-- /.form-box -->
            </div><!-- /.card -->
        </div>
    </div>
</div>