[class*="sidebar-dark-"] {
  background-color: #ffffff;
}

[class*="sidebar-dark-"] .sidebar a {
  color: #000611;
}

.sidebar-dark-primary .nav-sidebar > .nav-item.active > .nav-link,
.sidebar-light-primary .nav-sidebar > .nav-item.active > .nav-link {
  background-color: #f26f26;
  color: #fff;
}

.sidebar-dark-primary .nav-sidebar > .nav-item.active :hover,
.sidebar-light-primary .nav-sidebar > .nav-item.active :hover {
  background-color: #de580d;
  color: #fff;
}

.sidebar-dark-primary .nav-sidebar > .nav-item :hover,
.sidebar-light-primary .nav-sidebar > .nav-item :hover {
  background-color: #dee2e6;
  color: #000611;
}

[class*="sidebar-dark"] .brand-link {
  border-bottom: 1px solid #dee2e6;
}

[class*="sidebar-dark-"] .nav-header {
  background-color: inherit;
  color: #000611;
}

.nav-sidebar > .nav-item .nav-icon {
  margin-right: 0.5rem;
}

[class*="sidebar-dark"] .brand-link,
[class*="sidebar-dark"] .brand-link .pushmenu {
  color: #000611;
}

.nav-sidebar .nav-item > .nav-link {
  margin-bottom: 0.2rem;
  border-bottom: 1px solid #dee2e6;
}
